langchain
langchain-core
langchain-community
ipykernel
pypdf
pymupdf
sentence-transformers
faiss-cpu
langchain_chroma


langchain-text-splitters
python-dotenv
langchain-openai

langchain_ollama
fastapi
langchain_huggingface 
langserve
uvicorn